script(src="//code.jquery.com/jquery-2.2.0.min.js")
link(rel="stylesheet", href=url_for("css/jquery.fancybox.min.css"))
script(src=url_for("js/jquery.fancybox.min.js"))
script(src=url_for("js/wrapimage.js"))