.archive {
    max-width: 500px;
    margin: 5em auto;
    .post-item {
        padding: 2px 0 0 50px;
    }
    .post-time,
    .post-archive-link {
        font-size: 1rem;
    }
    .post-archive-link {
        color: #42b983;
        word-break: break-all;
    }
    a {
        color: #42b983;
    }
    a.post-title-link:before {
        height: 1px;
    }
    .post-info {
        float: left;
        width: 125px;
        color: #7f8c8d;
    }
}