footer {
    padding-bottom: 1px;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    .copyright {
        margin: 4em 0;
        border-top: 1px solid #ddd;
        text-align: center;
        p, a, #jinrishici-sentence {
            color: #aaa;
            font-size: 14px;
            font-weight: 100;
        }
        a:hover {
            color: #888;
        }
    }
}
